body {
	background-color: #e8eaf6;
	overflow-x: hidden;
	cursor: default;
}

.logo {
	text-align: center;
	font-weight: 100;
	font-size: 1.5em;
	-webkit-user-select: none;
	-moz-user-select:none;
	-ms-user-select: none;
	user-select: none;
}
